<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
	<link href="/static/css/404.css?q=1280549780" rel="stylesheet">
    <title>Error 404</title>
</head>
<body>
    <div class="container">
        <h2>Page Not Found</h2>
        <h1>Error 404</h1>
        <p>It looks like you ran into a unknown page</p>
        <a href="/">Go back to Login</a>
    </div>
</body>
</html>