<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
	<link href="/static/css/login.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
	<div class="contact-form">
		<h2>LOG IN</h2>
		<form action="/form" method="POST">
			<p>Email</p><input placeholder="Enter Email" type="email" name="email">
			<p>Passwrod</p><input placeholder="Enter Password" type="password" name="pass">
            <input type="submit" value="Log in">

		</form>
	</div>
</body>
</html
