<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/newabout.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">Logo</div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/db">Database</a></li>
            <li><a href="#">Log out</a></li>
            <li><a href="/about">About</a></li>
        </ul>

    </nav>
    <div class="contact-form">
        <h1>Submit Book</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, consequatur.</p>

      </div>
    <div class="contact-form">
        <h1>Submit Book</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, consequatur.</p>
    </div>      
</body>
</html>